* {
    font-family: 'Segoe UI';
}
header {
    text-align: center;
}
main {
    display: flex;
    justify-content: center;
}
#buttons {
    display: flex;
    justify-content: center;
}
.field {
    color: rgb(200, 200, 200);
     display: grid;
     padding: 10px;
     height: 500px;
     width: 500px;
     grid-template-rows: repeat(11,1fr);
     grid-template-columns: repeat(11,1fr);
     gap: 2px;
     background-color: rgb(0, 0, 0);
}
#oponent {
    display: none;
}
div {
    background-color: rgb(65, 149, 245);
    text-align: center;
    padding-top: 10px;
}

.poleOpisowe {
    background-color: rgb(15, 78, 150);
}

body {
    background-color: rgb(161, 161, 161);
}
#start {
    opacity: 50%;
}

@media only screen and (max-width: 540px) {
    .field {
        height: 90vw;
        width: 90vw;
    }
    div {
        padding-top: 1vw;
    }
    main {
        flex-direction: column;
    }
}